# Dependencies
node_modules/
page-builder/node_modules/
page-builder/.next/
page-builder/out/

# Environments
.env*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next
out
build

# Vercel
.vercel

# Misc
.DS_Store
